public-hoist-pattern[]=husky
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=@commitlint/cli
public-hoist-pattern[]=@vben/eslint-config
package-manager-strict=false

registry=http://172.16.11.13:30082/repository/npm-public/


cache-dir=./offline_pnpm/pnpm-cache
store-dir=./offline_pnpm/store
