node_modules
index.html
*.log
run
logs
coverage/
public
README.md
*.lock
.env.dev
.env
.husky

dist/
dist-ssr
*.local
components.d.ts
package.lock.json
pnpm-lock.yaml
.npmrc
.editorconfig

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?